.admin-footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative; 
    bottom: 0;
    left: 0;
    box-sizing: border-box; 
  }
  
  .footer-text {
    margin: 5px 0;
  }
  
  .social-link {
    color: #3498db;
    text-decoration: none;
    margin-left: 5px;
    transition: color 0.3s;
  }
  
  .social-link:hover {
    color: #2980b9; /* Change to a darker blue on hover */
  }
  